@import url('https://fonts.googleapis.com/css?family=Aleo');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #F7F9F9;
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
}

button {
  display: block;
  margin: auto;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  transition: 0.3s;
  background-size: 200% auto;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  padding: 5px 15px;
  margin-bottom: 10px;
}

button:active {
  background-position: right center;
}

.new {
  font-size: 20pt;
  padding: 10px 30px;
}

.navigation {
  display: inline;
  margin: auto 10px;
  background: #fda085;
  font-size: 12pt;
}

.navigation:active {
  background: #f6d365;
}

button:disabled {
  background-image: linear-gradient(135deg, #969696, #636363);
}

button:disabled:active {
  background: linear-gradient(135deg, #969696, #636363);
}